<%= form_with model: @question do |form| %>
  <% if @question.errors.any? %>
    <div>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <label>
    <%= form.label :title %>
  </label>
    <div>
      <%= form.text_field :title %>
    </div>
  <label>
    <%= form.label :name %>
  </label>
    <div>
      <%= form.text_field :name %>
    </div>
  <label>
    <%= form.label :content %>
  </label>
    <div>
      <%= form.text_area :content %>
    </div>
    <div class="btn btn-blue ">
      <%= form.submit 'Submit' %>
    </div>
<% end %>