<div class="flex flex-col">
  <h1>Questions</h1>
    <div class="my-10">
      <%= link_to 'create new question', new_question_path, { class: "btn btn-blue btn-blue:hover" } %>
    </div>
  <div class="overflow-x-auto w-full">
    <table>
      <thead>
        <tr class="bg-gray-200">
          <th class="table-cell">ID</th>
          <th class="table-cell">Title</th>
          <th class="table-cell">Name</th>
          <th class="table-cell">Content</th>
          <th class="table-cell">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td class="table-cell"><%= question.id %></td>
            <td class="table-cell"><%= question.title %></td>
            <td class="table-cell"><%= question.name %></td>
            <td class="table-cell"><%= question.content %></td>
            <td class="table-cell">
              <%= link_to 'show', question_path(question) %>
              <%= link_to 'edit', edit_question_path(question) %>
              <%= link_to 'destroy', question_path(question),
                    data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>